body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    height: 100%;
  }

  .left-side, .right-side {
    flex: 1;
    padding: 20px;
  }

  .left-side {
    background-color: #f0f0f0; /* Left side background color */
  }

  .right-side {
    background-color: #e0e0e0; /* Right side background color */
  }

  :root {
    --back: white;
    --primary: rgb(0, 0, 0);
    --secondary: rgb(136, 136, 136);
    --teritiary: rgb(91, 114, 126);
    --image: rgb(203, 148, 128);
  }
  
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(21, 32, 43);
  }
  
  /* existing styles */
  
  .center {
    width: 100%;
    overflow: hidden;
    display: inline-table;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .tweet-container {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .tweet {
    width: 100%;
    margin: 10px;
    height: 240px;
    background: var(--back);
    color: var(--primary);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border-radius: 1mm;
    box-shadow: 0 9px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  .head {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
  }
  
  .image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--image);
    margin-right: 10px;
  }
  
  .name {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  
  .username {
    font-size: 22px;
    font-family: poppins;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 26px;
  }
  
  .username span {
    font-size: 20px;
    margin-left: 5px;
    color: rgb(6, 166, 250);
  }
  
  .handle,
  .date {
    font-family: poppins;
    font-size: 13px;
    color: var(--teritiary);
    font-weight: 500;
  }
  
  .content {
    font-size: 13px;
    color: var(--secondary);
    font-family: poppins;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content span {
    color: rgb(6, 166, 250);
  }
  
  .date {
    font-size: 11px;
  }
  
  .controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--teritiary);
  }
  
  .controls .btn {
    display: flex;
    align-items: center;
  }
  
  .btn i {
    margin-right: 5px;
    font-size: 16px;
  }
  
  #like {
    display: none;
  }
  
  #like + label {
    position: relative;
    margin-right: 5px;
    cursor: pointer;
  }
  
  #like + label::before {
    font: var(--fa-font-regular);
    content: "\f004";
    font-size: 16px;
  }
  
  #like:checked + label::before {
    font: var(--fa-font-solid);
    color: rgb(227, 0, 27);
  }
  
  .btn span {
    font-family: poppins;
    font-size: 14px;
    font-weight: 500;
  }
  