<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tweeter</title>
  <link rel="stylesheet" href="landingpage_user.css">
</head>
<body>
  <header>
    <div class="toolbar">
      <h1>Tweeter</h1>
    </div>
  </header>
  <main>
    <div class="left-container">
      <div class="user-details">

      </div>
    </div>
    <div class="right-container">
      <div class="tweet-results">

      </div>
    </div>
  </main>

  <main>
    <div class="left-container">
      <div class="user-details">

      </div>
    </div>
    <div class="right-container">
      <div class="tweet-results">

      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer-links">
      <img src="github logo.png" alt="GitHub Logo">
      <a href="https://github.com">GitHub Repository</a>
      <img src="linkedin logo.png" alt="LinkedIn Logo">
      <a href="https://linkedin.com">LinkedIn</a>
    </div>
  </footer>
  <script src="landingpage_user.js"></script>
</body>
</html>
